  <div id="<%= dom_id article %>">
    <p class="rs__one__line__show">
      <strong>Title:</strong>
      <%= article.title %>
    </p>

    <p class="rs__one__line__show">
      <strong>Description:</strong>
      <%= article.body %>
    </p>
    <p>
    <strong>Publish:</strong>
    <span class="rs__published__status" data-status-type=<%= article.publish %>>
      <%= article.publish %>
    </span>
  </p>
  </div>
